#side-bar {
    position: absolute;
}
 
#side-bar .side-block {
    padding-right: calc(8.1em - 1px);
    margin-right: -8.5em;
}
 
#side-bar .heading {
    font-size: 1.2em;
    margin: 1em calc(-1em + 2px) 0.5em 0;
    font-weight: bold;
    color: var(--sidebar-header-color);
}
 
#side-bar hr {
    background-color: var(--sidebar-divider-color);
    width: 220px;
}
 
#side-bar div.menu-item a {
    transition: all 0.1s ease-in-out;
    display: block;
    margin: 0 calc(-1em - 1px) 0 -0.5em;
    padding: 0.4em 1em 0.4em 0.5em;
    font-size: 12.8px;
    color: var(--sidebar-color);
    width: 220px;
}
 
#side-bar div.menu-item a:hover {
    background-color: var(--sidebar-hover-background);
    color: var(--sidebar-hover-color);
    text-decoration: none;
}
 
#side-bar div.menu-item p {
    margin: 0;
    line-height: 80%
}
 
#side-bar .menu-item a[href="/rpc-series"]::after {
    font-size: 80%;
    opacity: 0.7;
    margin-left: 0.5em;
    content: "(001-999)"
}
 
#side-bar .menu-item a[href="https://discord.gg/a4pCKTW/"]::before {
    content: url('http://rpcauthority.wdfiles.com/local--files/nav%3Aside/discord.png');
    position: absolute;
    left: 15em;
}
 
#side-bar .menu-item a[href="https://space.bilibili.com/434962573/"]::before {
    content: url('http://rpc-wiki-cn.wdfiles.com/local--files/nav%3Aside/bi.png');
    position: absolute;
    left: 15em;
}
 
#side-bar .menu-item a[href="https://steamcommunity.com/groups/ORPCCNGP"]::before {
    content: url('http://rpcauthority.wdfiles.com/local--files/nav%3Aside/steam.png');
    position: absolute;
    left: 15em;
}
 
#main-content {
    margin: 0 2em 0 21em;
    padding: 2em 2em calc(14em - 1px) 3em;
}
 
li, p {
    line-height: 141%;
    word-wrap: break-word;
}
